[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
opencv-python = "*"
svgwrite = "*"
dxfwrite = "*"
bpy = "*"
fake-bpy-module = "*"
ezdxf = "*"
flask = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
