[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ezdxf = "*"
flask = "*"
gunicorn = "*"
scikit-image = "*"
pip = "*"
pillow = "*"
requests = "*"
svgwrite = "*"

[requires]
python = "3.11.6"

[dev-packages]
bpy = "*"
fake-bpy-module = "*"
matplotlib = "*"
