[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
opencv-python = "*"
dxfwrite = "*"
bpy = "*"
fake-bpy-module = "*"
ezdxf = "*"
flask = "*"
gunicorn = "*"
python-dotenv = "*"

[requires]
python = "3.11.6"
